---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ==========================================================================
   Hero Overlays (Header Images)
   ========================================================================== */
.page__hero--overlay .wrapper {
  text-align: left;
// margin-top: 0.5in;
// margin-right: 0.5in;
// margin-bottom: 0.5in;
  margin-left: 0; /* Optional: aligns content to the far left of the container */
}

/* ==========================================================================
   Navigation (Top Bar)
   ========================================================================== */
.greedy-nav .site-title a {
  color: #0000EE !important; /* Overrides the remote theme default to dark ocean blue=0563C1 */
}

.greedy-nav .site-title a:hover {
  color: #4A4FB4 !important; /* Changes only the site title on hover to purple=800080  */
}
