---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
.page__hero--overlay .wrapper {
  text-align: left;
// margin-top: 0.5in;
// margin-right: 0.5in;
// margin-bottom: 0.5in;
  margin-left: 0; /* Optional: aligns content to the far left of the container */
}